@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Peters' Books</h1>
    <p class="lead">Welcome to the Peters' Books Database! Use the links above to access the different tables of data we use!</p>
</div>